<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <title>emojify.js</title>
  <script src="emojify.js"></script>
  <style type="text/css" media="screen">
    .emoji{
      width:100px;
    }
    #output{
      text-align:center;
    }
  </style>
</head>
<body>
  <div id="output">

  </div>
</body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
<script>
  var output = $('#output')
  var mapping = {
    87: ':apple:',
    81: ':banana:',
    79: ':lemon:',
    80: ':pear:',
    70: ':melon:',
    71: ':tangerine:'
  }
  //
  // $(document).keydown(function(e){
  //   console.log(e)
  //   output.html(emojify.replace(keys[e.charCode]))
  // })
  // $(document).keyup(function(e){
  //   output.html('')
  // })
  var keys = {}
  var last = ''

  function update() {
    var pressedKeys = Object.keys(keys)
    var html = pressedKeys.map(function(e){ return emojify.replace(mapping[e]) }).join('')
    if(html != last){
      output.html(html)
      last = html
    }
  }

  $(document).keydown(function (e) {
    keys[e.which] = true;
    update()
  });

  $(document).keyup(function (e) {
    delete keys[e.which];
    update()
  });
</script>
</html>
