<!DOCTYPE html>
<html>
  <head>
    <style type="text/css" media="screen">
      html, body{
        font-weight:bold;
        font-family:helvetica;
      }
      .arm{
        width:250px;
        height:50px;
        background:black;
        position:absolute;
        border-radius:5px;
        color:white;
        line-height:50px;
        padding:0 10px;
        font-size:20px;
/*        -webkit-transition: all 0.5s ease-in-out;*/
        border:1px solid #fff;
        z-index:2;
      }
      #left-arm{
        top:300px;
        left: 130px;
        -webkit-transform-origin:100% 50%;
        border-right:0;
      }
      #right-arm{
        top:300px;
        left: 600px;
        -webkit-transform-origin:0% 50%;
        text-align:right;
        border-left:0;
      }
      #body{
        width:250px;
        height:300px;
        background:black;
        position:absolute;
        top:280px;
        left:375px;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        color:white;
        z-index:0;
      }
      #hood{
        background:black;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        width:120px;
        height:120px;
        position:absolute;
        top:160px;
        left:440px;
      }
      #command{
        text-align:center;
        font-size:40px;
        margin-top:100px;
      }
      #command-z{
        text-align:center;
        font-size:40px;
      }
      #hoodie{
        -webkit-perspective: 1000px;
      }
    </style>
  </head>
  <body>
    <div id="hoodie">
      <div id="hood">
        <div class='inner'>

        </div>
      </div>
      <div class='arm' id='left-arm'>-40</div>
      <div id='body'>
        <div id="command">Foo</div>
        <div id="command-z">Foo</div>
      </div>
      <div class='arm' id='right-arm'>40</div>
    </div>


    <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>

    <!-- socket.io -->
    <script src="http://localhost:8001/socket.io/socket.io.js"></script>
    <script>
      var socket = io.connect('http://localhost:8001');
      var leftArm = $('#left-arm');
      var rightArm = $('#right-arm');
      var commandText = $('#command');
      var commandZText = $('#command-z');
      var leftZ = rightZ = 40;
      var leftY = rightY = 40;

      function moveArms() {
        leftArm
          .html(leftZ.toFixed() + ',' + leftY.toFixed())
          .css('webkitTransform', 'rotateY('+leftZ+'deg) rotateZ('+leftY+'deg)')
        rightArm
          .html(rightZ.toFixed() + ',' + rightY.toFixed())
          .css('webkitTransform', 'rotateY('+-rightZ+'deg) rotateZ('+rightY+'deg)')
      }

      socket.on('leftY', function(data){
        leftY = data.angle
        moveArms()
      })
      socket.on('rightY', function(data){
        rightY = data.angle
        moveArms()
      })
      socket.on('rightZ', function(data){
        rightZ = data.angle
        moveArms()
      })
      socket.on('leftZ', function(data){
        leftZ = data.angle
        moveArms()
      })

      socket.on('command', function(data){
        commandText.html(data.command)
      })
      socket.on('commandZ', function(data){
        commandZText.html(data.command)
      })
    </script>
	</body>
</html>
