<!DOCTYPE html>
<html>
  <head>
    <style type="text/css" media="screen">
      html, body{
        font-weight:bold;
        font-family:helvetica;
        background:#000;
        margin:0;
      }
      .arm{
        width:250px;
        height:50px;
        background:black;
        position:absolute;
        border-radius:5px;
        color:white;
        line-height:50px;
        padding:0 10px;
        font-size:20px;
        border:1px solid #fff;
        z-index:2;
      }
      #left-arm{
        top:300px;
        left: 130px;
        -webkit-transform-origin:100% 50%;
        border-right:0;
      }
      #right-arm{
        top:300px;
        left: 600px;
        -webkit-transform-origin:0% 50%;
        text-align:right;
        border-left:0;
      }
      #body{
        width:250px;
        height:300px;
        background:black;
        position:absolute;
        top:280px;
        left:375px;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        color:white;
        z-index:1;
      }
      #hood{
        background:black;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        width:120px;
        height:120px;
        position:absolute;
        top:160px;
        left:440px;
      }
      #command{
        text-align:center;
        font-size:40px;
        margin-top:100px;
      }
      #command-z{
        text-align:center;
        font-size:40px;
      }
      #hoodie{
        -webkit-perspective: 1000px;
        position:absolute;
        left:-180px;
        top:-100px;
      }
      #frame{
        width:1050px;
        height:600px;
        position:absolute;
        background:#fff;
      }
      #dronestream{
        position:absolute;
        right:0px;
        top:120px;
        z-index:0;
        overflow:none;

      }
    </style>
  </head>
  <body>
    <div id="frame">
        <div id="hoodie">
          <div id="hood">
            <div class='inner'></div>
          </div>
          <div class='arm' id='left-arm'></div>
          <div id='body'>
            <div id="command"></div>
          </div>
          <div class='arm' id='right-arm'></div>
        </div>

        <iframe width='440px' id='dronestream' height='300px' src="http://localhost:5300" frameborder="0" allowfullscreen></iframe>
    </div>

    <script src="http://code.jquery.com/jquery-2.1.0.min.js"></script>
    <script src="http://localhost:8001/socket.io/socket.io.js"></script>
    <script>
      var socket = io.connect('http://localhost:8001');
      var leftArm = $('#left-arm');
      var rightArm = $('#right-arm');
      var commandText = $('#command');
      var leftZ = rightZ = leftY = rightY = 0;
      var commandY = commandZ = 'hover';

      function moveArms() {
        leftArm
          .html(leftZ.toFixed() + ',' + leftY.toFixed())
          .css('webkitTransform', 'rotateY('+leftZ+'deg) rotateZ('+leftY+'deg)')
        rightArm
          .html(rightZ.toFixed() + ',' + rightY.toFixed())
          .css('webkitTransform', 'rotateY('+-rightZ+'deg) rotateZ('+rightY+'deg)')
      }

      function updateCommands() {
        if(commandY === 'hover' && commandZ === 'hover'){
          text = 'hover'
        } else {
          if(commandY === 'hover'){
            text = commandZ
          } else if(commandZ == 'hover'){
            text = commandY
          } else {
            text = commandY + '<br>+<br>' + commandZ
          }
        }
        commandText.html(text)
      }

      setInterval(function(){ updateCommands(); moveArms(); },50)

      socket.on('leftY',  function(data){ leftY  = data.angle })
      socket.on('rightY', function(data){ rightY = data.angle })
      socket.on('rightZ', function(data){ rightZ = data.angle })
      socket.on('leftZ',  function(data){ leftZ  = data.angle })
      socket.on('command',  function(data){ commandY = data.command })
      socket.on('commandZ', function(data){ commandZ = data.command })
    </script>
	</body>
</html>
